.app__pointsvente {
    position: relative;
}

.app__pointsvente-content {
    width: 100%;
    z-index: 2;
}

.app__pointsvente-content_right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: right;
}

.app__pointsvente-content_left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
}

.app__pointsvente-content_dupleix p,
.app__pointsvente-content_raspail p {
    margin: 2rem 0;
    color: var(--color-grey);
}